{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-6 ">
<h1>Редактирование</h1>

<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
{{ form|crispy }}
<input type="submit" class="btn btn-defaul" value='Сохранить'/>

</form>
{% if not '/create' in request.get_full_path %}
<div class="col-sm-6 ">
<h1> Состав команды:</h1> <br/>
{% for mates in players_inteam %}
    <li><a href="{% url 'accounts:user_view' mates.user.id%}">{{ mates.user.nickname }}</a></li>
    <div class=" team-edit btn  btn-warning"><a href="{% url 'teams:user_delete_view' mates.user.id %}">Удалить игрока</a></div>
{% endfor %}
    </div>
<div class="col-sm-6 ">
	<h1> Новые заявки:</h1> <br/>
{% for mate in players %}
    <li><a href="{% url 'accounts:user_view' mate.user.id%}">{{ mate.user.nickname }}</a></li>
    <div class=" team-edit btn  btn-primary">
    <a href="{% url 'teams:add_view' player.team.id %}">Добавить в команду</a></div>
    <div class=" team-edit btn  btn-warning"><a href="{% url 'teams:reject_view' player.team.id %}">Отклонить заявку</a></div>
{% endfor %}
</div>
{% endif %}

{%  endblock %}