{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 col-sm-offset-2">
   <h1>{{ team }}</h1> <br/>
{% if team.logo %}
        <img src="{{ team.logo.url }}" class="img-responsive"/>
      {% endif %}

    <h3>Состав команды:</h3><br/>
        {% for mate in players %}
 <a href="{% url 'accounts:user_view' mate.user.id%}">{{ mate.user.first_name }} {{ mate.user.last_name }} - {{ mate.user.nickname }} </a> <br/>

    {% endfor %}
    <div>
    <br/>
    {% if current and player.user.is_captain %}
        <div class="team-edit btn btn-block btn-primary"><a href="{% url 'teams:team_update_view' user.id %}">Редактировать команду</a></div>
    {% endif %}
    {% if current and not player.user.is_captain and  not player.action == 1 %}
        <div class="team-edit btn btn-block  btn-danger"><a href="{% url 'teams:user_delete_view' request.user.id %}">Выйти из команды</a></div>
    {% endif %}
    {% if current and player.action == 1 %}
        <div class="team-edit label label-success ">Вы подали заявку  <a class ='label label-warning' href="{% url 'teams:reject_view' player.team.id %}">Отменить</a></div>

    {% endif %}
    </div>
{% if not request.user.is_inteam and request.user.is_authenticated  %}
        <div class="team-edit btn btn-block btn-primary"><a href="{% url 'teams:invite_view' team.id %}">Подать заявку на вступление</a></div>
    {% endif %}
    {% if current and player.user.is_captain and players|length == 1 %}
        <div class="team-edit btn btn-block btn-primary"><a href="{% url 'teams:team_delete_view' player.user.id %}">
            Удалить команду</a></div>
    {% endif %}
</div>



{% endblock %}