{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 col-sm-offset-2">
   <h1>{{ team }}</h1> <br/>
{% if team.logo %}
        <img src="{{ team.logo.url }}" class="img-responsive"/>
      {% endif %}

    <h3>Состав команды:</h3><br/>
        {% for mate in players %}
 <a href="{% url 'accounts:user_view' mate.user.id%}">{{ mate.user.first_name }} {{ mate.user.last_name }} - {{ mate.user.nickname }} </a> <br/>

    {% endfor %}
    <div>
    <br/>
    {% if current and player.user.is_captain %}
        <div class="team-edit btn btn-block btn-primary"><a href="{% url 'teams:team_update_view' user.id %}">Редактировать команду</a></div>
    {% endif %}
    {% if current and not player.user.is_captain %}
        <div class="team-edit btn btn-block  btn-danger"><a href="#">Выйти из команды</a></div>
    {% endif %}
    </div>
{% if not player.user.is_inteam  %}
        <div class="team-edit btn btn-block btn-primary"><a href="{% url 'teams:invite_view' team.id %}">Подать заявку на вступлениеу</a></div>
    {% endif %}
</div>



{% endblock %}