{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="thumbnail profile-avatar">
      <div class="avatar-parent">
      {% if user.avatar %}
        <img src="{{ user.avatar.url }}" class="img-responsive"/>
      {% endif %}
      </div>
    </div>{% if not user.is_active %}<a class="btn btn-warning btn-block">Профиль не активирован</a>{% endif %}
  </div>
  <div class="col-md-8 col-sm-8 col-xs-8">
    <ul><h1>{{ user.first_name  }}
      {{ user.last_name  }}</h1><br/>
        <b>Никнейм пользователя: </b> {{ user.nickname }}<br/>
      <b>Дата рождения:</b> {{ user.bdate  }}<br/>
      <b>Пол:</b>{% if user.sex == 'm' %} Мужской {% else %} Женский {% endif %}<br/>
      <b>Steam id: </b>{{ user.steam_name  }}<br/>
     <b> Battletag:</b> {{ user.battle_tag }}<br/>
      <b>Lol name:</b> {{ user.lol_name  }}<br/></ul>
      {% if current %}
        <div class="profile-edit"><a href={% url "accounts:user_edit_view" user.id %}>Редактировать профиль</a></div>
           <div class="profile-edit"><a href={% url "accounts:changepass"  %}>Сменить пароль</a></div>
        {% endif %}

</div>
</div>
{% endblock %}