.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 50px;
    font-size: 20px;
}
.h3, h3 {
    font-size: 30px;
    margin-top: 10px;}

.h1, .h2,  h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;


}

.wmd-panel {
    margin-right: 0px !important;
    margin-left: 0px !important;
}