.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 14px;

}
div.team-edit a{
    color: black;
}
.h3, h3 {
    font-size: 30px;
    margin-top: 10px;}

.h1, .h2,  h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;


}
.navbar-form {
    margin-top: 22px;}

.wmd-panel {
    margin-right: 0px !important;
    margin-left: 0px !important;
}