{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} Welcome | {% endblock %}

<style>
div {
  color: black;
}
</style>

{% block carouel %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Тут будет классная инфа</h1>
        <p>как много классной инфы, прям жесть</p>
        <p>И еще чутка инфы, не менее классной</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Ответить &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
{% include 'latest_posts.html' %}<br/>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="twitch">
<div class="col-md-6">
    <iframe src="https://player.twitch.tv/?channel=ceh9"
                              frameborder="0" scrolling="no" height="378" width="500"></iframe>
    <a href="https://www.twitch.tv/ceh9?tt_medium=live_embed&tt_content=text_link"
       style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal;
       font-size:10px;text-decoration:underline;">Watch live video from ceh9 on www.twitch.tv</a>
</div>
    <div class="col-md-6">
<iframe src="https://player.twitch.tv/?channel=kup9_nps" frameborder="0" scrolling="no" height="378"
   width="500"></iframe><a href="https://www.twitch.tv/kup9_nps?tt_medium=live_embed&tt_content=text_link"
   style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Kup9_NpS on www.twitch.tv</a>

</div>
    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="http://cs8.pikabu.ru/images/previews_comm/2016-02_5/145622484717359768.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="http://cs8.pikabu.ru/images/previews_comm/2016-02_5/145622484717359768.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="/None/01.jpq" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 By Kup9_NpS &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



{% endblock %}
