{% load staticfiles %}

    <section id="blog" class="latest-blog-section section-padding">
      <div class="container">

        <div class="col-lg-offset-4"><h1 class="section-title" >Последние новости</h1></div>

        <div class="row">
              <div class="figure">
                <div class="post-thumbnail">
                {% for post in blogs %}
                    <div class="col-md-4">
                    <h1><a href={% url "posts:detail" post.slug %}>{{ post.title }}</a> <br/><small>{{ post.timestamp }}</small></h1> <br/>


                     {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-responsive">
                    {%  endif %}
                    <br/>



                <div class='content_markdown post_detail_item'>{{ post.get_markdown|truncatechars_html:50 }}</div>
                    </div>

              {% endfor %}
              </div><!-- /.figure -->
    </section>
